/* main css style for the conservation delivery application for the louisiana chapter */
.cda-sidebar-wrapper {
  padding: 7px;
}
h4,
h5 {
  margin: 8px 0 8px 0 !important;
}
button {
  transform: translate(1px, 1px) !important;
}
/* overwrite margin botton from styleguide */
.cda-sidebar-wrapper .form-component {
  margin-bottom: 2px;
  margin-left: 10px;
  width: 162px;
}
.blueFont {
  color: #2f6384;
}
.cda-green-spinner {
  height: 30px;
  width: 30px;
}

/* main side bar styles ***********************************************/
.cda-assesment-radio-btns,
.cda-areaScenario-radio-btns,
.cda-delivery-radio-btns,
.cda-parameters-checkbox,
.cda-sediment-options-radio-btns,
.cda-comparison-type-radio-btns {
  display: grid;
}

.cda-delivery-wrapper {
  display: none;
}
.cda-sediment-option-wrapper {
  display: none;
  margin-left: 20px;
}
.cda-bmp-select-button-wrapper {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cda-selected-area-wrapper {
  /* background-color: red; */
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 66px;
  width: 170px;
  text-align: center;
  padding: 5px;
}
.cda-area-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cda-area-close {
  margin-left: 5px;
  background-color: lightgray;
  border-radius: 100px;
  height: 15px;
  width: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cda-area-close:hover {
  background-color: darkgray;
  font-weight: bold;
  cursor: pointer;
}

/* BMP SECTION STYLING ********************************************************************************************************* */
.cda-bmp-select-wrapper {
  display: none;
}
.cda-bmp-selected-wrapper {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid black;
  padding: 3px;
}
.cda-retreiving-data-wrapper {
  display: none;
}
.cda-bmp-select-menu {
  width: 70%;
}
.cda-bmp-selected-wrapper input {
  width: 45px;
}
.cda-bmp-selected-header {
  font-size: 12px;
  font-weight: bold;
  width: 80%;
}
.cda-crop-wrapper {
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.cda-crop-header-name {
  color: #2f6384;
  font-weight: bold;
}
.cda-bmp-remove-button {
  position: absolute;
  right: 22px;
  color: grey;
}
.cda-bmp-remove-button:hover {
  cursor: pointer;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.cda-bmp-remove-button:active {
  transform: translate(1px, 1px);
}
.cda-bmp-exclusive-warning {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: maroon;
  display: none;
}
.cda-bmp-input-wrapper {
  color: grey;
  margin-left: 15px;
  display: flex;
}
.cda-bmp-wrapper-sub-header {
  font-size: 11px;
  font-weight: bold;
  margin-left: 5px;
}

/* report styles ***********************************************/
