 /* main css style for the conservation delivery application for the louisiana chapter */
.cda-sidebar-wrapper{
	padding: 7px;
}
h4{
	margin: 8px 0 8px 0 !important;
}
button{
	transform: translate(1px, 1px) !important;
}
/* overwrite margin botton from styleguide */
.cda-sidebar-wrapper .form-component{
	margin-bottom: 2px; margin-left: 13px;
}
.blueFont{
	color: #2f6384;
}


.cda-localProject-options-wrapper{
	display: none;
}
.cda-sediment-options-wrapper{
	display: none; margin-left: 15px; font-size: 11px;
}
.cda-sediment-options-wrapper h5{
	margin: 3px 0 3px 15px;
}


.cda-build-report-wrapper button{
	float: right; margin-top: 10px;
}

