 /* main css style for the conservation delivery application for the louisiana chapter */
.cda-sidebar-wrapper{
	padding: 7px;
}
h4,h5{
	margin: 8px 0 8px 0 !important;
}
button{
	transform: translate(1px, 1px) !important;
}
/* overwrite margin botton from styleguide */
.cda-sidebar-wrapper .form-component{
	margin-bottom: 2px; margin-left: 13px;
}
.blueFont{
	color: #2f6384;
}

/* main side bar styles */
.cda-localProject-options-wrapper{
	display: none;
}
.cda-sediment-options-wrapper{
	display: none; margin-left: 15px; font-size: 11px;
}
.cda-sediment-options-wrapper h5{
	margin: 3px 0 3px 15px;
}
.cda-areaScenario-section-wrapper{
	display: flex;
}
.cda-selected-areas-wrapper{
	margin-left: auto; margin-right: 20px;
}
.cda-selected{
	background-color: #F3F3F3; width: 80%; text-align: center; border-radius: 10px;
	margin: 2px; padding: 3px; display: flex; align-items: center;
}
.cda-selected:hover{
	background-color: rgba(255, 255, 0, .5);
}
.cda-selected-close{
	margin-left: auto; background-color: rgba(0, 150, 214,.6); border-radius: 100px; 
	height: 15px; width:15px; align-items: center;
    display: flex; justify-content: center; user-select: none;
}
.cda-selected-close:hover {
	cursor: pointer;
	filter: brightness(85%);
}
.cda-selected-close:active {
	transform: translate(.5px, .5px);
}
.cda-build-report-wrapper button{
	float: right; margin-top: 10px;
}
.cda-build-report-wrapper{
	text-align: center;
}
.cda-build-report-section-wrapper{
	display: none;
}
.cda-building-report-text{
	display: none; text-align:center;
}


/* report styles */
.cda-report-wrapper{
	display: none;
}
.cda-report-header{
	text-align: center; width: 100%; border-bottom: 1pt solid #ccc;
	padding-top: 14px;
}